<div fxLayout="row">

    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <mat-card-title>LISTE</mat-card-title><br>

                <mat-form-field appearance="fill" style="width:25%">
                    <mat-label>Année Universitaire</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="univYear">
                        <mat-option *ngFor="let uYear of years" [value]="uYear.value">
                            {{uYear.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;
                <mat-form-field appearance="fill" style="width:25%">
                    <mat-label>Promotion</mat-label>
                    <mat-select [(ngModel)]="selectedValue" name="promotion">
                        <mat-option *ngFor="let promotion of promotions" [value]="promotion.value">
                            {{promotion.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;
                
                <button mat-raised-button color="primary" (click)="FileInput.click()">
                    <mat-icon>cloud_upload</mat-icon>
                    Import Excel
                    <input #FileInput  type="file" accept=".xls,.xlsx" (change)="onFileChanged($event)"  style="display: none" >
                </button>

    

                <table id="example1" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>551176</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>
                                <button mat-icon-button color="warn">
                                    <mat-icon aria-label="delete button icon">delete</mat-icon>
                                </button>

                                <button mat-icon-button color="primary">
                                    <mat-icon aria-label="delete button icon">edit</mat-icon>
                                </button>

                                <button mat-icon-button color="accent">
                                    <mat-icon aria-label="delete button icon">remove_red_eye</mat-icon>
                                </button>

                            </td>
                        </tr>

                    </tbody>
                    
                </table>


                <button mat-raised-button color="primary"><mat-icon
                        aria-label="Example icon-button with a heart icon">import_export</mat-icon> Export Excel
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>