
    <h3 color="primary"> <mat-icon>person</mat-icon>
        Ajouter un etudiant</h3>

<mat-card >
    <mat-card-content >
        <form class="form-horizontal" name="form" [formGroup]="form" (ngSubmit)="onSubmit();onAdd()">  

             
            <mat-form-field class="exemple-form"   >
                <mat-label>Numero</mat-label>
                <input type="text" 
                matInput  
                value="{{numero}}"
                readonly
                >
              </mat-form-field> 
            
            <mat-form-field class="exemple-form" >
                <mat-label for="inputNom">Nom</mat-label>
                <input type="text" matInput   formControlName="nom"  placeholder="Nom "   >
                <mat-icon matSuffix> </mat-icon>
                <mat-error *ngIf = "f.nom.errors?.required">
                    Nom est <strong> obligatoire</strong>
                    </mat-error>
                    <mat-error *ngIf = "f.nom.errors?.pattern && f.nom.touched">
                        Veuillez saisir un nom valide
                    </mat-error> 
                    <mat-icon (click)="f.nom.setValue('')"  matSuffix style="color: #1f3a93;">clear</mat-icon>
               </mat-form-field> 
               
               <mat-form-field class="exemple-form" >
                   <mat-label for="inputPrenom">Prenom</mat-label>
                   <input type="text" matInput   formControlName="prenom"  placeholder="Prenom"   >
                   <mat-icon matSuffix> </mat-icon>
                   <mat-error *ngIf = "f.prenom.errors?.required">
                       Prenom est <strong> obligatoire</strong>
                       </mat-error>
                       <mat-error *ngIf = "f.prenom.errors?.pattern && f.nom.touched">
                           Veuillez saisir un nom valide
                       </mat-error> 
                       <mat-icon (click)="f.prenom.setValue('')"  matSuffix style="color: #1f3a93;">clear</mat-icon>
                </mat-form-field> 

                <mat-form-field class="exemple-form" >
                    <mat-label>Promotion</mat-label>
                    <mat-select name="selectedYear" required formControlName="selectedYear">
                      <mat-option value="3A">3A</mat-option>
                      <mat-option value="4A">4A</mat-option>
                      <mat-option value="5A">5A</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.selectedYear.errors?.required">
                      Promotion est <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="exemple-form" >
                    <mat-label>Filiere</mat-label>
                    <mat-select name="selectedYear" required formControlName="Filiere">
                      <mat-option value="FISA">FISA</mat-option>
                      <mat-option value="FISE">FISE</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.Filiere.errors?.required">
                      Filiere<strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field class="exemple-form" >
                    <mat-label>Annee universitaire</mat-label>
                    <mat-select name="selectedYear" required formControlName="AU">
                    </mat-select>
                    <mat-error *ngIf="f.AU.errors?.required">
                      Annee universitaire est <strong>obligatoire</strong>
                    </mat-error>
                  </mat-form-field>
                

            
            <br><br> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid"> Ajouter </button>




        </form>


    </mat-card-content>
</mat-card>